<nav>
  <ul>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Σύνδεση</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register" routerLinkActive="active">Εγγραφή</a></li>

    <li *ngIf="isLoggedIn"><a routerLink="/home" routerLinkActive="active">Αρχική</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/dashboard" routerLinkActive="active">Διαχείριση</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/search" routerLinkActive="active">Αναζήτηση</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/messages" routerLinkActive="active">Μηνύματα</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()" style="cursor: pointer; color: #ff4d4d; font-weight: bold;">Αποσύνδεση</a></li>
  </ul>
</nav>